@import "../../node_modules/bootstrap/scss/functions";

//Override Bootstrap variables
$primary: rgba(235, 238, 234, 1);

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

//Custom styles
.logo {
  font-size: 55px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

//Search bar homepage/listing

.search-container {
  position: relative;
}

.search-input {
  height: 50px;
  border-radius: 30px;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}
