@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

//Override Bootstrap variables

@import "../../node_modules/bootstrap/scss/bootstrap";

//Custom styles
