@import "../../node_modules/bootstrap/scss/functions";

//Override Bootstrap variables
$primary: rgba(235, 238, 234, 1);

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

//Custom styles
.logo {
  font-size: 55px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
